body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4DEF8;
    padding: 20px;
    color: #fff;
    text-align: center; /* Centraliza o texto */
}

#logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adiciona margem inferior ao container */
}

header #logo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-right: 10px; /* Adiciona margem à direita da logo */
}

header h1 {
    margin: 10px 0; /* Adiciona margem superior ao título */
}

nav {
    background-color: #F4DEF8;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 15px;
}

/* Adiciona espaçamento entre os botões do menu */
nav a:not(:last-child) {
    margin-right: 15px;
}

main {
    margin: 20px;
    text-align: center;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

input {
    padding: 8px;
    font-size: 1em;
    margin-right: 10px; /* Adiciona margem à direita do campo de busca */
    margin-left: 10px; /* Adiciona margem à esquerda do campo de busca */
    margin: 0 10px 5px 10px; /* Adiciona margem ao redor do campo de busca */
}

button {
    padding: 8px 15px;
    font-size: 1em;
    background-color: #A046EA;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinhamento à esquerda */
    margin-bottom: 20px;
}

.product-row > li {
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 20px;
    margin-right: 20px; /* Adiciona espaçamento entre os produtos */
    box-sizing: border-box;
    width: calc(20% - 20px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    position: relative;

    /* Adicione estas linhas para alinhar o preço acima do botão Comprar */
    display: flex;
    flex-direction: column;
}

.product-row > li img {
    max-height: 200px; /* Defina a altura máxima desejada */
    object-fit: cover; /* Garante que a imagem é cortada para se ajustar à caixa */
    width: 100%; /* Certifica-se de que a largura se ajusta automaticamente */
}

@media (max-width: 768px) {
    .product-row > li {
        flex-basis: calc(50% - 20px);
    }
}

.price {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 5px;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 50%;
    width: auto;
    height: auto;
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

a {
    display: block;
    padding: 8px 0;
    background-color: #A046EA; /* botoes menu */
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
}

@media (max-width: 768px) {
    nav a {
        margin: 10px;
        padding: 8px 10px; /* Ajuste o preenchimento para dispositivos móveis */
    }

    .product-row > li {
        flex-basis: calc(50% - 20px);
    }
}

nav a.active {
    background-color: #8a7aff;
}

div {
    margin-top: 0 10px; /* Adiciona margem ao div */
}

#search-container {
    margin-top: 10px; /* Adiciona margem acima do container de busca */
    margin-bottom: 10px; /* Adiciona margem abaixo do container de busca */
    margin-left: 20px; /* Adiciona margem à esquerda do container de busca */
}

#search {
    padding: 8px; /* Adiciona espaçamento interno ao campo de busca */
    font-size: 1em;
}
