body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4DEF8;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header #logo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-right: 10px;
}

header h1 {
    margin: 10px 0;
}

nav {
    background-color: #F4DEF8;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 15px;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

main {
    margin: 20px;
    text-align: center;
}

label {
    font-size: 1em;
    margin-right: 5px;
}

input,
#price-range,
#sort-order,
button {
    padding: 8px;
    font-size: 0.8em;
    margin: 0 5px 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #A046EA;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.product-row > li {
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    width: calc(20% - 20px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-row > li img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 768px) {
    .product-row > li {
        flex-basis: calc(50% - 20px);
    }

    #controls-container {
        flex-direction: column;
    }

    #search-container,a
    #filters-container,
    #sort-container {
        flex-basis: calc(50% - 10px);
    }

    #price-range,
    #sort-order,
    #search-container button {
        width: 100%;
    }

    #search,
    #price-range,
    #sort-order {
        margin-bottom: 10px;
    }
}

.price {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 5px;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 50%;
    width: auto;
    height: auto;
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

a {
    display: block;
    padding: 8px 0;
    background-color: #A046EA;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
}

nav a.active {
    background-color: #8a7aff;
}

div {
    margin-top: 0 10px;
}

#controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search-container,
#filters-container,
#sort-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

#search-container label,
#filters-container label,
#sort-container label {
    text-align: right;
    margin-right: 5px;
}

#search-container button {
    padding: 6px 10px;
    font-size: 0.8em;
    background-color: #A046EA;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: stretch;
}

#search,
#price-range,
#sort-order {
    flex: 1;
}

#search-container,
#filters-container,
#sort-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #search-container,
    #sort-container,
    #filters-container {
        flex-basis: calc(50% - 10px);
        width: calc(100% - 10px);
    }

    #search,
    #sort-order,
    #search-container button {
        width: 100%;
    }

    #search,
    #price-range,
    #sort-order {
        margin-bottom: 10px;
    }
}
