body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4DEF8;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header #logo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-right: 10px;
}

header h1 {
    margin: 10px 0;
}

nav {
    background-color: #F4DEF8;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 15px;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

main {
    margin: 20px;
    text-align: center;
}

label {
    font-size: 1em; /* Reduz o tamanho do rótulo */
    margin-right: 5px; /* Adiciona um pequeno espaço à direita do rótulo */
}

input,
#price-range,
#sort-order,
button {
    padding: 8px;
    font-size: 0.8em; /* Reduz o tamanho do texto */
    margin: 0 5px 5px 0; /* Ajusta as margens */
    box-sizing: border-box;
}

button {
    background-color: #A046EA;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.product-row > li {
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    width: calc(20% - 20px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-row > li img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 768px) {
    .product-row > li {
        flex-basis: calc(50% - 20px);
    }
}

.price {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 5px;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 50%;
    width: auto;
    height: auto;
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

a {
    display: block;
    padding: 8px 0;
    background-color: #A046EA;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
}

@media (max-width: 768px) {
    nav a {
        margin: 10px;
        padding: 8px 10px;
    }

    .product-row > li {
        flex-basis: calc(50% - 20px);
    }
}

nav a.active {
    background-color: #8a7aff;
}

div {
    margin-top: 0 10px;
}

#controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search-container,
#filters-container,
#sort-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    margin: 0 5px;
    display: flex;
    align-items: center; /* Centraliza as letras verticalmente */
}

#search-container label,
#filters-container label,
#sort-container label {
    text-align: right; /* Alinha o texto à direita */
    margin-right: 5px; /* Adiciona um espaço à direita do rótulo */
}

#search,
#price-range,
#sort-order {
    flex: 1; /* Ocupa todo o espaço restante no contêiner */
}

#search-container button {
    padding: 6px 10px; /* Reduz o tamanho do botão */
    font-size: 0.8em; /* Reduz o tamanho do texto do botão */
    background-color: #A046EA;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: stretch; /* Garante que o botão se estenda ao longo da altura do contêiner */
}

@media (max-width: 768px) {
    #controls-container {
        flex-direction: column;
    }

    #search-container label,
    #filters-container label,
    #sort-container label,
    button {
        flex: 1 1 100%; /* Em dispositivos menores, ocupam toda a largura disponível */
        margin-right: 0; /* Remove a margem à direita para ocupar toda a largura */
        margin-bottom: 5px; /* Adiciona espaçamento inferior entre os elementos */
    }

    #search,
    #price-range,
    #sort-order {
        margin-bottom: 10px; /* Adiciona espaçamento inferior em dispositivos menores */
    }
}
